.uncheckedChurch {
  border-left: 4px solid gray; /* orange accent */
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  font-weight: 500;
  color: #6d4c41; /* dark brown text */
  border-radius: 4px;
}

.churchLink {
  display: block;           /* Makes the whole block clickable */
  margin-bottom: 0.5rem;      /* Space between churches */
  text-decoration: none;    /* Remove default underline */
}

.churchName {
  font-weight: 600;         /* Semi-bold */
  font-size: 1.1rem;          
  color: #2d6697; ;         
}

.churchLocation {
  font-size: 1.0rem;      
  color: #8c8a8a;              
  margin-left: 0.5rem;      /* Small indent for readability */
}

