.mainDiv{
  text-align: center ;
  background-color: white;
}

.selected {
  background-color: #2ea44f;
}

.heading1{
  font-size: 1.8rem;
  font-weight: bold;
}

.heading2{
  font-size: 1.2rem;
  color: #444;
}

.date{
  font-size: 1.2rem;
}

.smallprint{
  font-size: 0.9rem;
  padding: 0
}

