.mainDiv{
  text-align: center ;
  color: white
}

.selected {
  background-color: #2ea44f;
}

.heading1{
  font-size: 1.8rem;
  font-weight: bold;
}

.heading2{
  font-size: 1.2rem;
  color: #8c8a8a;
}

.date{
  font-size: 1.2rem;
  color: #8c8a8a;
}

.smallprint{
  font-size: 0.9rem;
  padding: 0;
    color: #8c8a8a;

}

