.churchLink {
  display: block;           /* Makes the whole block clickable */
  margin-bottom: 1rem;      /* Space between churches */
  text-decoration: none;    /* Remove default underline */
}

.churchName {
  font-weight: 600;         /* Semi-bold */
  font-size: 1.1rem;          
  color: #2d6697;          
  display:flex;
}

.churchName:hover {
  text-decoration: underline; /* Subtle feedback on hover */
}

.churchLocation {
  font-size: 1rem;      
  color: #8c8a8a;             
  margin-left: 0.5rem;      /* Small indent for readability */
}

.goodService {
  font-weight:100;
  font-size: 1.0rem;      
  color: #8c8a8a;             
  margin-left: 0.5rem;      /* Small indent for readability */
}

.allGood {
  border-left: 4px solid green; 
  padding: 0rem 0.5rem ;
  margin-top: 0.25rem;
  font-weight: 500;
  font-size: 1.1rem; 
  color: #6d4c41; /* dark brown text */
  border-radius: 4px;
}

.disruptedNotice {
  border-left: 4px solid #ff9800; /* orange accent */
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  font-weight: 500;
  font-size: 1.1rem; 
  color: #6d4c41; /* dark brown text */
  border-radius: 4px;
}

.disruptionRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.25rem;
  gap: 1rem; /* keeps a little breathing room */
}

.disruptionRow div {
  color: #b45309; /* warm orange/brown text */
  font-weight: 500;
}

.linkButton {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #b45309; /* or your brand link color */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* space between text and arrow */
}

.linkButton::after {
  content: "▼";
  font-size: 0.8em;
}

.timeHeading {
  font-size: 1.65em;
  color:white
}

.black{
  background-color: black;
}