.churchLink {
  display: block;           /* Makes the whole block clickable */
  margin-bottom: 1rem;      /* Space between churches */
  text-decoration: none;    /* Remove default underline */
}

.churchName {
  font-weight: 600;         /* Semi-bold */
  font-size: 1rem;          /* Slightly larger than body */
  color: #1a3d7c;           /* Calm, readable blue */
  display:flex;
}

.churchName:hover {
  text-decoration: underline; /* Subtle feedback on hover */
}

.churchLocation {
  font-size: 0.875rem;      /* Smaller, secondary text */
  color: #666;              /* Muted gray */
  margin-left: 0.5rem;      /* Small indent for readability */
}

.goodService {
  font-weight:100;
  font-size: 0.875rem;      /* Smaller, secondary text */
  color: #666;              /* Muted gray */
  margin-left: 0.5rem;      /* Small indent for readability */
  
}

.allGood {
  background: white; 
  border-left: 4px solid green; 
  padding: 0rem 0.5rem ;
  margin-top: 0.25rem;
  font-weight: 500;
  color: #6d4c41; /* dark brown text */
  border-radius: 4px;
}

.disruptedNotice {
  border-left: 4px solid #ff9800; /* orange accent */
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  font-weight: 500;
  color: #6d4c41; /* dark brown text */
  border-radius: 4px;
}

.disruptionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
  gap: 1rem; /* keeps a little breathing room */
}

.disruptionRow div {
  color: #b45309; /* warm orange/brown text */
  font-weight: 500;
}