.mainDiv{
  text-align: center ;
  background-color: white;
}

.selected {
  background-color: #2ea44f;
}

.heading1{
  font-size: 1.75rem;
  font-weight: bold;
}

.heading2{
  font-size: 1.1rem;
  color: #444;
}

