.stickyBar {
   position: sticky;
    top: 0;
    background: white;
    z-index: 1000,
}

.footer {
  font-size: 0.8rem;
  color: #666;
  /* margin-top: 2rem; */
}

.horizontal{
  display: flex;
    justify-content: space-between;

}